<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WeighServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://120.79.19.165/HSJQ/api/WeighService.asmx"
        binding="basicHttpBinding" bindingConfiguration="WeighServiceSoap"
        contract="ServiceReference.WeighServiceSoap" name="WeighServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>
